<%= simple_form_for [plugin_call, plugin_call.fields.build], :html => { :multipart => true, :class => 'form-inline' } do |f| %>

<div class="form-inputs">
  <%= f.select :field_type, %w{text_field text_area check_box file_field step_field} %>
  <%= f.text_field :name, placeholder: 'field_name' %>
  <%= f.check_box :required %><%= f.label :required %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
