<%= simple_form_for(@plugin_call_field) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
  <%= f.select :field_type, %w{text_field check_box} %>
  <%= f.text_field :name, placeholder: 'field_name' %>
  <%= f.check_box :required %><%= f.label :required %>
  <%= f.hidden_field :_destroy %>
  <%= link_to '[remove]', '#', class: 'remove_fields' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
