<%= form_for [plugin_call, plugin_call.fields.build] do |f| %>
  <%= f.select :field_type, %w{text_field check_box} %>
  <%= f.text_field :name, placeholder: 'field_name' %>
  <%= f.check_box :required %><%= f.label :required %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

