<p id="notice"><%= notice %></p>
<%= @plugin_call_field.field_type %>
<%= @plugin_call_field.name %>
<%= link_to 'Edit', edit_plugin_call_field_path(@plugin_call_field) %> |
<%= link_to 'Back', plugin_call_fields_path %>
