<%= simple_form_for [plugin, plugin.plugin_calls.build], :html => { :multipart => true, :class => 'form-inline' } do |f| %>

  <div class="form-inputs">
    <%= f.input :what %>
    <%= f.input :call %>
    <%= f.input :details %>
  </div>

  <%= f.fields_for :fields do |builder| %>
  <%= render 'field_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Field", f, :fields %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
