<%- model_class = PluginCall -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:call) %>:</strong></dt>
  <dd><%= @plugin_call.call %></dd>
  <dt><strong><%= model_class.human_attribute_name(:details) %>:</strong></dt>
  <dd><%= @plugin_call.details %></dd>
  <dt><strong><%= model_class.human_attribute_name(:what) %>:</strong></dt>
  <dd><%= @plugin_call.what %></dd>
  <dt><strong><%= model_class.human_attribute_name(:plugin_id) %>:</strong></dt>
  <dd><%= @plugin_call.plugin_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fields_attributes) %>:</strong></dt>
  <dd><%= @plugin_call.plugin_call_fields %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              plugin_calls_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_plugin_call_path(@plugin_call), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              plugin_call_path(@plugin_call),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
<%= render :partial => "plugin_call_fields/form", :locals => { :plugin_call => @plugin_call } %>
