<%= form_for @recipe do |f| %>
    <% f.fields_for :steps do |s| %>
        <%= s.grouped_collection_select :plugin_call_id, Plugin.where(category_id: 1).order(:name), :plugin_calls, :name, :id, :what, include_blank: 'Please select', wrapper_html: {class: 'medium-12 small-12 columns'} %>
        <%= hidden_field_tag :inrecipe, recipe.id %>
        <%= s.submit 'Next: Tool Inputs', :class => 'button modal-form' %>


  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                recipes_path, :class => 'btn' %>
  </div>
        <% end %>
<% end %>

