<%= form_for step do |f| %>

      <div class="medium-8 small-8">
        <div class="row">
          <div class="medium-3 columns">
            <%= f.label :name, 'Name:', :class => 'right inline' %>
          </div>
          <div class="medium-9 columns">
            <%= f.text_field :name, :placeholder => 'What is this analysis step called?' %>
          </div>
        </div>
        <div class="row">
          <div class="medium-3 columns">
            <%= f.label :description, 'Description:"', :class => 'right inline' %>
          </div>
          <div class="medium-9 columns">
            <%= f.text_field :description, :placeholder => 'What does this step do?'%>
          </div>
        </div>
        <div class="row">
          <div class="medium-3 columns">
            <%= f.label :number, 'Number:', :class => 'right inline' %>
          </div>
          <div class="medium-9 columns">
            <%= f.text_field :number, :placeholder => 'How many steps are in the sequence?' %>

          </div>

        </div>
        <div class="row">
          <div class="medium-3 columns">
            <%= f.label :usedplugin, 'Tool:', :class => 'right inline' %>
          </div>
          <div class="medium-9 columns">
            <%= f.collection_select :usedplugin, Plugin.all, :id, :name, :prompt => 'Which tool do you want to use?' %>
          </div>

        </div>
        <div class="medium-6 small-centered columns">
            <ul class="button-group text-center">
              <li><%= f.submit 'Update', :class => 'button'%></li>
              <li><%= link_to t('.destroy', :default =>
                      t("helpers.links.destroy")),
                              step_path(step),
                              :method => :delete,
                              :data => {:confirm => t('.confirm', :default =>
                                      t("helpers.links.confirm", :default => 'Are you sure?'))},
                              :class => 'button alert' %></li>
            </ul>

         </div>
      </div>


<% end %>
