<p>You can hook together analysis tools here. For example, you could have one
tool get data, another get a second set of data, a fourth tool combine those
  data sets, and a fifth show them on a timeline.</p>

<p>To begin, choose the tool you want to use from the dropdown menu and click
  "New Step". Then fill in any settings or inputs for the tool (including what
  step number it should be in the sequence). The output will be displayed
  under each step.</p>
<br />

<%= form_tag new_recipe_step_path(recipe), method: :get do %>
  <%= select_tag :plugin_call_id, options_from_collection_for_select(PluginCall.all,
  :id, :what) %>
  <%= hidden_field_tag :inrecipe, recipe.id %>
  
  <%= submit_tag "New Step", name: nil %>
<% end %>

<br />
<table>
  <thead>
    <tr>
      <th>Current Analysis Sequence</th>
    </tr>
  </thead>
</table>
<% newrecipe(recipe.id) %>
<tbody>
<% recipe.steps.each do |step| %>
<br /><br />
<tr style="border:0;">
  <td style="border:0; padding-bottom:50px;">
       <ul class="nav nav-tabs" id="steptabs" data-tabs="tabs">
	 <li><b><%= step.number %>.&nbsp;&nbsp;</b></li>
          <li class="active"><a href="#details<%= step.id %>step" data-toggle="tab">Details</a></li>
          <li><a href="#edit<%= step.id %>step" data-toggle="tab">Edit</a></li>
        </ul>

       <div class="tab-content">
	 <div class="tab-pane active" id="details<%= step.id %>step">
            <tr>
              <td><i><%= step.name %></i></td>
	    </tr><br />
	    <tr>
              <td><%= step.description %></td>
            </tr><br />
	    <tr>
	      <td>
		
		<%= switch(step.usedplugin.to_i, step.usedcall.to_i,
		 step.properties, step.number.to_i, recipe.id.to_i) %>
		
		
		<td>
	    </tr>
          </div>

	 <div class="tab-pane" id="edit<%= step.id %>step">
            <%= render :partial => "steps/editform", :locals => { :step => step } %>
         </div>
       </div>
  </td>
</tr>
<% end %>
</tbody>
</table>

<br />

