<dl class="accordion" data-accordion>
  <% recipe.steps.order(:number).each do |step| %>
      <dd>

        <a href="#panel<%= step.number %>">Step Number<%= step.number %></a>

        <div id="panel<%= step.number %>" class="content <%= 'active' if step.number.first %>">
          <dl class="tabs" data-tab>
            <dd><a href="#panel<%= step.number %>-<%= step.id %>-details"><%= step.number %></a></dd>
            <dd><a href="#panel<%= step.number %>-<%= step.id %>-edit">Tab 2</a></dd>
          </dl>
          <div class="tabs-content">
            <div class="content" id="#panel<%= step.number %>-<%= step.id %>-details">
              <%= switchView(step.plugin_call_id.to_i, step.properties,
                             step.number.to_i, recipe.id.to_i) %>

            </div>
            <div class="content" id="#panel<%= step.number %>-<%= step.id %>-edit">
              <%= render :partial => "steps/editform", :locals => {:step => step} %>
            </div>
          </div>


        </div>

      </dd>
  <% end %>
</dl>
<br/><br/>
    <%= link_to "Use Another Tool", new_step_path(recipe: recipe), :class => "button" %>

