<h1>Analysis Steps</h1>

<p>You can hook together analysis tools here. For example, you could have one
tool pull text from a website, another extract dates from it, and another tool
convert those dates into a timeline.</p>

<p>To begin, create a new step and choose the tool you want to use at that
  point from the dropdown menu. Then fill in any settings or inputs from the
  tool. Once you have added all the steps you need, hit run. The output will
  be displayed under each step.</p>
<br />

<%= form_tag new_step_path, method: :get do %>
  <%= select_tag :plugin_call_id, grouped_collection_select(Plugin.order(:name), :plugin_calls, :name, :id,
  :what) %>
  
  <%= submit_tag "New Step", name: nil %>
<% end %>

<br />
<table>
  <thead>
    <tr>
      <th>Current Analysis Sequence</th>
    </tr>
  </thead>
</table>

<tbody>
<% @steps.each do |step| %>
<br /><br />
<tr style="border:0;">
  <td style="border:0; padding-bottom:50px;">
       <ul class="nav nav-tabs" id="steptabs" data-tabs="tabs">
	 <li><b><%= step.number %>.&nbsp;&nbsp;</b></li>
          <li class="active"><a href="#details<%= step.id %>step" data-toggle="tab">Details</a></li>
          <li><a href="#edit<%= step.id %>step" data-toggle="tab">Edit</a></li>
        </ul>

       <div class="tab-content">
	 <div class="tab-pane active" id="details<%= step.id %>step">
            <tr>
              <td><i><%= step.name %></i></td>
	    </tr><br />
	    <tr>
              <td><%= step.description %></td>
            </tr><br />
	    <tr>
	      <td>
		<%= switch(step.usedplugin.to_i, step.usedcall.to_i,
		 step.properties, step.number.to_i) %>
		
		
		<td>
	    </tr>
          </div>

	 <div class="tab-pane" id="edit<%= step.id %>step">
            <%= render :partial => "steps/editform", :locals => { :step => step } %>
         </div>
       </div>
  </td>
</tr>
<% end %>
</tbody>
</table>

<br />

