<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%# Zurb Foundation is included in the asset pipeline%>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

  </head>

  <body>
       <header>
    <%= render :partial => "layouts/header" %>
       </header>
       <main role="main" class="small-12 columns">
         <%= render :partial => "layouts/messages" %>
        <%= yield %>
       </main>


    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>

